In [636]:
import numpy as np
import pandas as pd

In [637]:
car = pd.read_csv("car_price_prediction.csv")
car.head()

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4

In [638]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19237 entries, 0 to 19236
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                19237 non-null  int64
 1   Price             19237 non-null  int64
 2   Levy              19237 non-null  object
 3   Manufacturer      19237 non-null  object
 4   Model             19237 non-null  object
 5   Prod. year        19237 non-null  int64
 6   Category          19237 non-null  object
 7   Leather interior  19237 non-null  object
 8   Fuel type         19237 non-null  object
 9   Engine volume     19237 non-null  object
 10  Mileage           19237 non-null  object
 11  Cylinders         19237 non-null  float64
 12  Gear box type     19237 non-null  object
 13  Drive wheels      19237 non-null  object
 14  Doors             19237 non-null  object
 15  Wheel             19237 non-null  object
 16  Color             19237 non-null  object
 17  Airbags           19237 non-null  int64
dtypes: float64(1), int64(4), object(13)
memory usage: 2.6+ MB

In [639]:
# Unique Values
car['Levy'].nunique(), car['Levy'].unique(), car['Levy'].value_counts()

(559,
 array(['1399', '1018', '-', '862', '446', '891', '761', '751', '394',
        '1053', '1055', '1079', '810', '2386', '1850', '531', '586',
        '1249', '2455', '583', '1537', '1288', '915', '1750', '707',
        '1077', '1486', '1091', '650', '382', '1436', '1194', '503',
        '1017', '1104', '639', '629', '919', '781', '530', '640', '765',
        '777', '779', '934', '769', '645', '1185', '1324', '830', '1187',
        '1111', '760', '642', '1604', '1095', '966', '473', '1138', '1811',
        '988', '917', '1156', '687', '11714', '836', '1347', '2866',
        '1646', '259', '609', '697', '585', '475', '690', '308', '1823',
        '1361', '1273', '924', '584', '2078', '831', '1172', '893', '1872',
        '1885', '1266', '447', '2148', '1730', '730', '289', '502', '333',
        '1325', '247', '879', '1342', '1327', '1598', '1514', '1058',
        '738', '1935', '481', '1522', '1282', '456', '880', '900', '798',
        '1277', '442', '1051', '790', '1292', '1047', '528', '1211',
        '1493', '1793', '574', '930', '1998', '271', '706', '1481', '1677',
        '1661', '1286', '1408', '1090', '595', '1451', '1267', '993',
        '1714', '878', '641', '749', '1511', '603', '353', '877', '1236',
        '1141', '397', '784', '1024', '1357', '1301', '770', '922', '1438',
        '753', '607', '1363', '638', '490', '431', '565', '517', '833',
        '489', '1760', '986', '1841', '1620', '1360', '474', '1099', '978',
        '1624', '1946', '1268', '1307', '696', '649', '666', '2151', '551',
        '800', '971', '1323', '2377', '1845', '1083', '694', '463', '419',
        '345', '1515', '1505', '2056', '1203', '729', '460', '1356', '876',
        '911', '1190', '780', '448', '2410', '1848', '1148', '834', '1275',
        '1028', '1197', '724', '890', '1705', '505', '789', '2959', '518',
        '461', '1719', '2858', '3156', '2225', '2177', '1968', '1888',
        '1308', '2736', '1103', '557', '2195', '843', '1664', '723',
        '4508', '562', '501', '2018', '1076', '1202', '3301', '691',
        '1440', '1869', '1178', '418', '1820', '1413', '488', '1304',
        '363', '2108', '521', '1659', '87', '1411', '1528', '3292', '7058',
        '1578', '627', '874', '1996', '1488', '5679', '1234', '5603',
        '400', '889', '3268', '875', '949', '2265', '441', '742', '425',
        '2476', '2971', '614', '1816', '1375', '1405', '2297', '1062',
        '1113', '420', '2469', '658', '1951', '2670', '2578', '1995',
        '1032', '994', '1011', '2421', '1296', '155', '494', '426', '1086',
        '961', '2236', '1829', '764', '1834', '1054', '617', '1529',
        '2266', '637', '626', '1832', '1016', '2002', '1756', '746',
        '1285', '2690', '1118', '5332', '980', '1807', '970', '1228',
        '1195', '1132', '1768', '1384', '1080', '7063', '1817', '1452',
        '1975', '1368', '702', '1974', '1781', '1036', '944', '663', '364',
        '1539', '1345', '1680', '2209', '741', '1575', '695', '1317',
        '294', '1525', '424', '997', '1473', '1552', '2819', '2188',
        '1668', '3057', '799', '1502', '2606', '552', '1694', '1759',
        '1110', '399', '1470', '1174', '5877', '1474', '1688', '526',
        '686', '5908', '1107', '2070', '1468', '1246', '1685', '556',
        '1533', '1917', '1346', '732', '692', '579', '421', '362', '3505',
        '1855', '2711', '1586', '3739', '681', '1708', '2278', '1701',
        '722', '1482', '928', '827', '832', '527', '604', '173', '1341',
        '3329', '1553', '859', '167', '916', '828', '2082', '1176', '1108',
        '975', '3008', '1516', '2269', '1699', '2073', '1031', '1503',
        '2364', '1030', '1442', '5666', '2715', '1437', '2067', '1426',
        '2908', '1279', '866', '4283', '279', '2658', '3015', '2004',
        '1391', '4736', '748', '1466', '644', '683', '2705', '1297', '731',
        '1252', '2216', '3141', '3273', '1518', '1723', '1588', '972',
        '682', '1094', '668', '175', '967', '402', '3894', '1960', '1599',
        '2000', '2084', '1621', '714', '1109', '3989', '873', '1572',
        '1163', '1991', '1716', '1673', '2562', '2874', '965', '462',
        '605', '1948', '1736', '3518', '2054', '2467', '1681', '1272',
        '1205', '750', '2156', '2566', '115', '524', '3184', '676', '1678',
        '612', '328', '955', '1441', '1675', '3965', '2909', '623', '822',
        '867', '3025', '1993', '792', '636', '4057', '3743', '2337',
        '2570', '2418', '2472', '3910', '1662', '2123', '2628', '3208',
        '2080', '3699', '2913', '864', '2505', '870', '7536', '1924',
        '1671', '1064', '1836', '1866', '4741', '841', '1369', '5681',
        '3112', '1366', '2223', '1198', '1039', '3811', '3571', '1387',
        '1171', '1365', '1531', '1590', '11706', '2308', '4860', '1641',
        '1045', '1901'], dtype=object),
 -       5819
 765      486
 891      461
 639      410
 640      405
         ...
 2421       1
 827        1
 3811       1
 3301       1
 2236       1
 Name: Levy, Length: 559, dtype: int64)

In [640]:
# Unique model name
np.shape(car['Model'].unique())

(1590,)

In [641]:
car['Category'].unique()

array(['Jeep', 'Hatchback', 'Sedan', 'Microbus', 'Goods wagon',
       'Universal', 'Coupe', 'Minivan', 'Cabriolet', 'Limousine',
       'Pickup'], dtype=object)

In [642]:
car['Leather interior'].unique()

array(['Yes', 'No'], dtype=object)

In [643]:
car['Fuel type'].unique()

array(['Hybrid', 'Petrol', 'Diesel', 'CNG', 'Plug-in Hybrid', 'LPG',
       'Hydrogen'], dtype=object)

In [644]:
car['Engine volume'].unique()

array(['3.5', '3', '1.3', '2.5', '2', '1.8', '2.4', '4', '1.6', '3.3',
       '2.0 Turbo', '2.2 Turbo', '4.7', '1.5', '4.4', '3.0 Turbo',
       '1.4 Turbo', '3.6', '2.3', '1.5 Turbo', '1.6 Turbo', '2.2',
       '2.3 Turbo', '1.4', '5.5', '2.8 Turbo', '3.2', '3.8', '4.6', '1.2',
       '5', '1.7', '2.9', '0.5', '1.8 Turbo', '2.4 Turbo', '3.5 Turbo',
       '1.9', '2.7', '4.8', '5.3', '0.4', '2.8', '3.2 Turbo', '1.1',
       '2.1', '0.7', '5.4', '1.3 Turbo', '3.7', '1', '2.5 Turbo', '2.6',
       '1.9 Turbo', '4.4 Turbo', '4.7 Turbo', '0.8', '0.2 Turbo', '5.7',
       '4.8 Turbo', '4.6 Turbo', '6.7', '6.2', '1.2 Turbo', '3.4',
       '1.7 Turbo', '6.3 Turbo', '2.7 Turbo', '4.3', '4.2', '2.9 Turbo',
       '0', '4.0 Turbo', '20', '3.6 Turbo', '0.3', '3.7 Turbo', '5.9',
       '5.5 Turbo', '0.2', '2.1 Turbo', '5.6', '6', '0.7 Turbo',
       '0.6 Turbo', '6.8', '4.5', '0.6', '7.3', '0.1', '1.0 Turbo', '6.3',
       '4.5 Turbo', '0.8 Turbo', '4.2 Turbo', '3.1', '5.0 Turbo', '6.4',
       '3.9', '5.7 Turbo', '0.9', '0.4 Turbo', '5.4 Turbo', '0.3 Turbo',
       '5.2', '5.8', '1.1 Turbo'], dtype=object)

In [645]:
car['Engine volume'].apply(lambda x: x.split(' ')[0]).unique()

array(['3.5', '3', '1.3', '2.5', '2', '1.8', '2.4', '4', '1.6', '3.3',
       '2.0', '2.2', '4.7', '1.5', '4.4', '3.0', '1.4', '3.6', '2.3',
       '5.5', '2.8', '3.2', '3.8', '4.6', '1.2', '5', '1.7', '2.9', '0.5',
       '1.9', '2.7', '4.8', '5.3', '0.4', '1.1', '2.1', '0.7', '5.4',
       '3.7', '1', '2.6', '0.8', '0.2', '5.7', '6.7', '6.2', '3.4', '6.3',
       '4.3', '4.2', '0', '4.0', '20', '0.3', '5.9', '5.6', '6', '0.6',
       '6.8', '4.5', '7.3', '0.1', '1.0', '3.1', '5.0', '6.4', '3.9',
       '0.9', '5.2', '5.8'], dtype=object)

In [646]:
car['Engine volume'].apply(lambda x: x.split(' ')).apply(lambda x: 'Y' if 'Turbo' in x else 'N')

0        N
1        N
2        N
3        N
4        N
        ..
19232    Y
19233    N
19234    N
19235    N
19236    N
Name: Engine volume, Length: 19237, dtype: object

In [647]:
car['Engine volume'].unique()

array(['3.5', '3', '1.3', '2.5', '2', '1.8', '2.4', '4', '1.6', '3.3',
       '2.0 Turbo', '2.2 Turbo', '4.7', '1.5', '4.4', '3.0 Turbo',
       '1.4 Turbo', '3.6', '2.3', '1.5 Turbo', '1.6 Turbo', '2.2',
       '2.3 Turbo', '1.4', '5.5', '2.8 Turbo', '3.2', '3.8', '4.6', '1.2',
       '5', '1.7', '2.9', '0.5', '1.8 Turbo', '2.4 Turbo', '3.5 Turbo',
       '1.9', '2.7', '4.8', '5.3', '0.4', '2.8', '3.2 Turbo', '1.1',
       '2.1', '0.7', '5.4', '1.3 Turbo', '3.7', '1', '2.5 Turbo', '2.6',
       '1.9 Turbo', '4.4 Turbo', '4.7 Turbo', '0.8', '0.2 Turbo', '5.7',
       '4.8 Turbo', '4.6 Turbo', '6.7', '6.2', '1.2 Turbo', '3.4',
       '1.7 Turbo', '6.3 Turbo', '2.7 Turbo', '4.3', '4.2', '2.9 Turbo',
       '0', '4.0 Turbo', '20', '3.6 Turbo', '0.3', '3.7 Turbo', '5.9',
       '5.5 Turbo', '0.2', '2.1 Turbo', '5.6', '6', '0.7 Turbo',
       '0.6 Turbo', '6.8', '4.5', '0.6', '7.3', '0.1', '1.0 Turbo', '6.3',
       '4.5 Turbo', '0.8 Turbo', '4.2 Turbo', '3.1', '5.0 Turbo', '6.4',
       '3.9', '5.7 Turbo', '0.9', '0.4 Turbo', '5.4 Turbo', '0.3 Turbo',
       '5.2', '5.8', '1.1 Turbo'], dtype=object)

In [648]:
# Now it's time to change the DF
car_for_pred = car.copy()
car_for_pred.head()

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4

In [649]:
car_for_pred['Engine Volume'] = car_for_pred['Engine volume'].apply(lambda x: x.split(' ')[0]).astype(float)

In [650]:
car_for_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19237 entries, 0 to 19236
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                19237 non-null  int64
 1   Price             19237 non-null  int64
 2   Levy              19237 non-null  object
 3   Manufacturer      19237 non-null  object
 4   Model             19237 non-null  object
 5   Prod. year        19237 non-null  int64
 6   Category          19237 non-null  object
 7   Leather interior  19237 non-null  object
 8   Fuel type         19237 non-null  object
 9   Engine volume     19237 non-null  object
 10  Mileage           19237 non-null  object
 11  Cylinders         19237 non-null  float64
 12  Gear box type     19237 non-null  object
 13  Drive wheels      19237 non-null  object
 14  Doors             19237 non-null  object
 15  Wheel             19237 non-null  object
 16  Color             19237 non-null  object
 17  Airbags           19237 non-null  int64
 18  Engine Volume     19237 non-null  float64
dtypes: float64(2), int64(4), object(13)
memory usage: 2.8+ MB

In [651]:
car_for_pred['Engine_Turbo'] = car_for_pred['Engine volume'].apply(lambda x: x.split(' ')).apply(lambda x: 'Y' if 'Turbo' in x else 'N')

In [652]:
car_for_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19237 entries, 0 to 19236
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                19237 non-null  int64
 1   Price             19237 non-null  int64
 2   Levy              19237 non-null  object
 3   Manufacturer      19237 non-null  object
 4   Model             19237 non-null  object
 5   Prod. year        19237 non-null  int64
 6   Category          19237 non-null  object
 7   Leather interior  19237 non-null  object
 8   Fuel type         19237 non-null  object
 9   Engine volume     19237 non-null  object
 10  Mileage           19237 non-null  object
 11  Cylinders         19237 non-null  float64
 12  Gear box type     19237 non-null  object
 13  Drive wheels      19237 non-null  object
 14  Doors             19237 non-null  object
 15  Wheel             19237 non-null  object
 16  Color             19237 non-null  object
 17  Airbags           19237 non-null  int64
 18  Engine Volume     19237 non-null  float64
 19  Engine_Turbo      19237 non-null  object
dtypes: float64(2), int64(4), object(14)
memory usage: 2.9+ MB

In [653]:
car_for_pred.drop(columns=['Engine volume'], inplace=True)

In [654]:
car_for_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19237 entries, 0 to 19236
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                19237 non-null  int64
 1   Price             19237 non-null  int64
 2   Levy              19237 non-null  object
 3   Manufacturer      19237 non-null  object
 4   Model             19237 non-null  object
 5   Prod. year        19237 non-null  int64
 6   Category          19237 non-null  object
 7   Leather interior  19237 non-null  object
 8   Fuel type         19237 non-null  object
 9   Mileage           19237 non-null  object
 10  Cylinders         19237 non-null  float64
 11  Gear box type     19237 non-null  object
 12  Drive wheels      19237 non-null  object
 13  Doors             19237 non-null  object
 14  Wheel             19237 non-null  object
 15  Color             19237 non-null  object
 16  Airbags           19237 non-null  int64
 17  Engine Volume     19237 non-null  float64
 18  Engine_Turbo      19237 non-null  object
dtypes: float64(2), int64(4), object(13)
memory usage: 2.8+ MB

In [655]:
car_for_pred['Mileage'] = car_for_pred['Mileage'].apply(lambda x: int(x.split()[0]))
car_for_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19237 entries, 0 to 19236
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                19237 non-null  int64
 1   Price             19237 non-null  int64
 2   Levy              19237 non-null  object
 3   Manufacturer      19237 non-null  object
 4   Model             19237 non-null  object
 5   Prod. year        19237 non-null  int64
 6   Category          19237 non-null  object
 7   Leather interior  19237 non-null  object
 8   Fuel type         19237 non-null  object
 9   Mileage           19237 non-null  int64
 10  Cylinders         19237 non-null  float64
 11  Gear box type     19237 non-null  object
 12  Drive wheels      19237 non-null  object
 13  Doors             19237 non-null  object
 14  Wheel             19237 non-null  object
 15  Color             19237 non-null  object
 16  Airbags           19237 non-null  int64
 17  Engine Volume     19237 non-null  float64
 18  Engine_Turbo      19237 non-null  object
dtypes: float64(2), int64(5), object(12)
memory usage: 2.8+ MB

In [656]:
car_for_pred.Cylinders.unique()

array([ 6.,  4.,  8.,  1., 12.,  3.,  2., 16.,  5.,  7.,  9., 10., 14.])

In [657]:
car_for_pred['Gear box type'].unique()

array(['Automatic', 'Tiptronic', 'Variator', 'Manual'], dtype=object)

In [658]:
car_for_pred['Drive wheels'].unique()

array(['4x4', 'Front', 'Rear'], dtype=object)

In [659]:
car_for_pred['Doors'].unique()

array(['04-May', '02-Mar', '>5'], dtype=object)

In [660]:
car_for_pred.head(150)

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags,Engine Volume,Engine_Turbo
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,186005,6.0,Automatic,4x4,04-May,Left wheel,Silver,12,3.5,N
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,192000,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8,3.0,N
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,200000,4.0,Variator,Front,04-May,Right-hand drive,Black,2,1.3,N
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,168966,4.0,Automatic,4x4,04-May,Left wheel,White,0,2.5,N
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,91901,4.0,Automatic,Front,04-May,Left wheel,Silver,4,1.3,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,45642844,18817,609,TOYOTA,Camry,2018,Sedan,Yes,Hybrid,35058,4.0,Automatic,Front,04-May,Left wheel,White,12,2.5,N
146,44921934,21169,697,HONDA,Hr-v EX,2015,Jeep,No,Petrol,33330,4.0,Automatic,4x4,04-May,Left wheel,Grey,8,1.8,N
147,45462592,9095,-,FIAT,500,2011,Coupe,No,Petrol,141000,4.0,Automatic,Front,02-Mar,Right-hand drive,Red,4,1.2,N
148,45634898,1568,639,VOLKSWAGEN,Jetta,2014,Sedan,Yes,Diesel,82392,4.0,Automatic,Front,04-May,Left wheel,Silver,12,2.0,N
149,45777114,3136,-,SUBARU,Legacy,2005,Goods wagon,No,Petrol,180000,6.0,Tiptronic,4x4,04-May,Right-hand drive,Blue,6,2.0,Y

In [661]:
car_for_pred['Wheel'].value_counts()

Left wheel          17753
Right-hand drive     1484
Name: Wheel, dtype: int64

In [662]:
car_for_pred['Color'].value_counts()

Black            5033
White            4489
Silver           3792
Grey             2375
Blue             1396
Red               639
Green             322
Orange            253
Brown             187
Carnelian red     179
Golden            145
Beige             134
Sky blue          122
Yellow            106
Purple             39
Pink               26
Name: Color, dtype: int64

In [663]:
car_for_pred['Airbags']

0        12
1         8
2         2
3         0
4         4
         ..
19232     5
19233     8
19234     4
19235     4
19236    12
Name: Airbags, Length: 19237, dtype: int64

In [664]:
car_for_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19237 entries, 0 to 19236
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                19237 non-null  int64
 1   Price             19237 non-null  int64
 2   Levy              19237 non-null  object
 3   Manufacturer      19237 non-null  object
 4   Model             19237 non-null  object
 5   Prod. year        19237 non-null  int64
 6   Category          19237 non-null  object
 7   Leather interior  19237 non-null  object
 8   Fuel type         19237 non-null  object
 9   Mileage           19237 non-null  int64
 10  Cylinders         19237 non-null  float64
 11  Gear box type     19237 non-null  object
 12  Drive wheels      19237 non-null  object
 13  Doors             19237 non-null  object
 14  Wheel             19237 non-null  object
 15  Color             19237 non-null  object
 16  Airbags           19237 non-null  int64
 17  Engine Volume     19237 non-null  float64
 18  Engine_Turbo      19237 non-null  object
dtypes: float64(2), int64(5), object(12)
memory usage: 2.8+ MB

In [665]:
car_for_pred['Levy'].value_counts()

-       5819
765      486
891      461
639      410
640      405
        ...
2421       1
827        1
3811       1
3301       1
2236       1
Name: Levy, Length: 559, dtype: int64

In [666]:
car_for_pred.drop(columns=['Levy', 'ID', 'Prod. year'], inplace=True)

In [667]:
car_for_pred.head()

,Price,Manufacturer,Model,Category,Leather interior,Fuel type,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags,Engine Volume,Engine_Turbo
0,13328,LEXUS,RX 450,Jeep,Yes,Hybrid,186005,6.0,Automatic,4x4,04-May,Left wheel,Silver,12,3.5,N
1,16621,CHEVROLET,Equinox,Jeep,No,Petrol,192000,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8,3.0,N
2,8467,HONDA,FIT,Hatchback,No,Petrol,200000,4.0,Variator,Front,04-May,Right-hand drive,Black,2,1.3,N
3,3607,FORD,Escape,Jeep,Yes,Hybrid,168966,4.0,Automatic,4x4,04-May,Left wheel,White,0,2.5,N
4,11726,HONDA,FIT,Hatchback,Yes,Petrol,91901,4.0,Automatic,Front,04-May,Left wheel,Silver,4,1.3,N

In [668]:
car_for_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19237 entries, 0 to 19236
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Price             19237 non-null  int64
 1   Manufacturer      19237 non-null  object
 2   Model             19237 non-null  object
 3   Category          19237 non-null  object
 4   Leather interior  19237 non-null  object
 5   Fuel type         19237 non-null  object
 6   Mileage           19237 non-null  int64
 7   Cylinders         19237 non-null  float64
 8   Gear box type     19237 non-null  object
 9   Drive wheels      19237 non-null  object
 10  Doors             19237 non-null  object
 11  Wheel             19237 non-null  object
 12  Color             19237 non-null  object
 13  Airbags           19237 non-null  int64
 14  Engine Volume     19237 non-null  float64
 15  Engine_Turbo      19237 non-null  object
dtypes: float64(2), int64(3), object(11)
memory usage: 2.3+ MB

In [669]:
car_for_pred['Doors'] = car_for_pred['Doors'].apply(lambda x: x.split('-')[0])
car_for_pred['Doors'].value_counts()

04    18332
02      777
>5      128
Name: Doors, dtype: int64

In [670]:
car_for_pred['Cylinders'].value_counts()

4.0     14367
6.0      3462
8.0       991
5.0       169
3.0       107
2.0        42
1.0        38
12.0       38
10.0       12
16.0        5
7.0         4
14.0        1
9.0         1
Name: Cylinders, dtype: int64

In [671]:
car_for_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19237 entries, 0 to 19236
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Price             19237 non-null  int64
 1   Manufacturer      19237 non-null  object
 2   Model             19237 non-null  object
 3   Category          19237 non-null  object
 4   Leather interior  19237 non-null  object
 5   Fuel type         19237 non-null  object
 6   Mileage           19237 non-null  int64
 7   Cylinders         19237 non-null  float64
 8   Gear box type     19237 non-null  object
 9   Drive wheels      19237 non-null  object
 10  Doors             19237 non-null  object
 11  Wheel             19237 non-null  object
 12  Color             19237 non-null  object
 13  Airbags           19237 non-null  int64
 14  Engine Volume     19237 non-null  float64
 15  Engine_Turbo      19237 non-null  object
dtypes: float64(2), int64(3), object(11)
memory usage: 2.3+ MB

In [672]:
car_for_pred.drop(columns=['Price']).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19237 entries, 0 to 19236
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Manufacturer      19237 non-null  object
 1   Model             19237 non-null  object
 2   Category          19237 non-null  object
 3   Leather interior  19237 non-null  object
 4   Fuel type         19237 non-null  object
 5   Mileage           19237 non-null  int64
 6   Cylinders         19237 non-null  float64
 7   Gear box type     19237 non-null  object
 8   Drive wheels      19237 non-null  object
 9   Doors             19237 non-null  object
 10  Wheel             19237 non-null  object
 11  Color             19237 non-null  object
 12  Airbags           19237 non-null  int64
 13  Engine Volume     19237 non-null  float64
 14  Engine_Turbo      19237 non-null  object
dtypes: float64(2), int64(2), object(11)
memory usage: 2.2+ MB

In [673]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline
from sklearn.linear_model import SGDRegressor

In [674]:
from sklearn import set_config
set_config(display='diagram')

In [675]:
ohe = OneHotEncoder(sparse=False,handle_unknown='error',drop='first')
ohe.fit(car_for_pred.drop(columns=['Price']).iloc[:, [0,1,2,3,4,7,8,9,10,11,14]])
ohe.categories_

[array(['ACURA', 'ALFA ROMEO', 'ASTON MARTIN', 'AUDI', 'BENTLEY', 'BMW',
        'BUICK', 'CADILLAC', 'CHEVROLET', 'CHRYSLER', 'CITROEN', 'DAEWOO',
        'DAIHATSU', 'DODGE', 'FERRARI', 'FIAT', 'FORD', 'GAZ', 'GMC',
        'GREATWALL', 'HAVAL', 'HONDA', 'HUMMER', 'HYUNDAI', 'INFINITI',
        'ISUZU', 'JAGUAR', 'JEEP', 'KIA', 'LAMBORGHINI', 'LANCIA',
        'LAND ROVER', 'LEXUS', 'LINCOLN', 'MASERATI', 'MAZDA',
        'MERCEDES-BENZ', 'MERCURY', 'MINI', 'MITSUBISHI', 'MOSKVICH',
        'NISSAN', 'OPEL', 'PEUGEOT', 'PONTIAC', 'PORSCHE', 'RENAULT',
        'ROLLS-ROYCE', 'ROVER', 'SAAB', 'SATURN', 'SCION', 'SEAT', 'SKODA',
        'SSANGYONG', 'SUBARU', 'SUZUKI', 'TESLA', 'TOYOTA', 'UAZ', 'VAZ',
        'VOLKSWAGEN', 'VOLVO', 'ZAZ', 'áƒ¡áƒ®áƒ•áƒ'], dtype=object),
 array(['09-Mar', '100', '100 NX', ..., 'macan S', 'tC', 'xD'],
       dtype=object),
 array(['Cabriolet', 'Coupe', 'Goods wagon', 'Hatchback', 'Jeep',
        'Limousine', 'Microbus', 'Minivan', 'Pickup', 'Sedan', 'Universal'],
       dtype=object),
 array(['No', 'Yes'], dtype=object),
 array(['CNG', 'Diesel', 'Hybrid', 'Hydrogen', 'LPG', 'Petrol',
        'Plug-in Hybrid'], dtype=object),
 array(['Automatic', 'Manual', 'Tiptronic', 'Variator'], dtype=object),
 array(['4x4', 'Front', 'Rear'], dtype=object),
 array(['02', '04', '>5'], dtype=object),
 array(['Left wheel', 'Right-hand drive'], dtype=object),
 array(['Beige', 'Black', 'Blue', 'Brown', 'Carnelian red', 'Golden',
        'Green', 'Grey', 'Orange', 'Pink', 'Purple', 'Red', 'Silver',
        'Sky blue', 'White', 'Yellow'], dtype=object),
 array(['N', 'Y'], dtype=object)]

In [676]:
X_train, X_test, y_train, y_test = train_test_split(car_for_pred.drop(columns=['Price']), car_for_pred['Price'], test_size=0.2, random_state=42)

In [677]:
OHE = ColumnTransformer([
    ('OHE', OneHotEncoder(sparse=False,categories=ohe.categories_,handle_unknown='error',drop='first'), [0,1,2,3,4,7,8,9,10,11,14])
], remainder='passthrough')

In [678]:
sgd_reg = SGDRegressor()

In [679]:
pipe = Pipeline([
    ('OHE', OHE),
    ('sgd_reg', sgd_reg)
])

In [680]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('OHE',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('OHE',
                                                  OneHotEncoder(categories=[array(['ACURA', 'ALFA ROMEO', 'ASTON MARTIN', 'AUDI', 'BENTLEY', 'BMW',
       'BUICK', 'CADILLAC', 'CHEVROLET', 'CHRYSLER', 'CITROEN', 'DAEWOO',
       'DAIHATSU', 'DODGE', 'FERRARI', 'FIAT', 'FORD', 'GAZ', 'GMC',
       'GREATWALL', 'HAVAL', 'HONDA', 'HUMMER', 'HYUNDAI', 'INFINITI',...
                                                                            array(['02', '04', '>5'], dtype=object),
                                                                            array(['Left wheel', 'Right-hand drive'], dtype=object),
                                                                            array(['Beige', 'Black', 'Blue', 'Brown', 'Carnelian red', 'Golden',
       'Green', 'Grey', 'Orange', 'Pink', 'Purple', 'Red', 'Silver',
       'Sky blue', 'White', 'Yellow'], dtype=object),
                                                                            array(['N', 'Y'], dtype=object)],
                                                                drop='first',
                                                                sparse=False),
                                                  [0, 1, 2, 3, 4, 7, 8, 9, 10,
                                                   11, 14])])),
                ('sgd_reg', SGDRegressor())])

In [681]:
y_pred = pipe.predict(X_test)
y_pred

array([8.07186302e+21, 4.13900463e+20, 2.63869191e+22, ...,
       3.41217508e+22, 1.24682960e+22, 4.00230271e+22])

In [ ]:
from sklearn.metrics import